<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>de.til-birnstiel.stacks.gridtilestack</string>
	<key>CFBundleShortVersionString</key>
	<string>0.31</string>
	<key>RWAddonAuthor</key>
	<string>Til Birnstiel</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon</string>
	<key>RWAddonSupportURL</key>
	<string>http://til-birnstiel.de/contact</string>
	<key>author</key>
	<string>Til Birnstiel</string>
	<key>cssFile</key>
	<string>styles.css</string>
	<key>customItems</key>
	<array>
		<dict>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Contain</string>
					<key>value</key>
					<string>contain</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Cover</string>
					<key>value</key>
					<string>cover</string>
				</dict>
			</array>
			<key>default</key>
			<string>cover</string>
			<key>id</key>
			<string>img_mode</string>
			<key>title</key>
			<string>Image Size</string>
			<key>toolTip</key>
			<string>Select the way the background image is positioned</string>
			<key>type</key>
			<string>select</string>
		</dict>
		<dict>
			<key>default</key>
			<string>https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg</string>
			<key>id</key>
			<string>background_image</string>
			<key>title</key>
			<string>Frame Image</string>
			<key>toolTip</key>
			<string>Select Image URL for the Background. Use %rapidweaverAssetPath%/myimage.jpg to access resources.</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>#1E1E1E</string>
			<key>id</key>
			<string>background_color</string>
			<key>title</key>
			<string>Frame Color</string>
			<key>tooTip</key>
			<string>Set the color of the outmost edge of the tile</string>
			<key>type</key>
			<string>color</string>
			<key>allowsOpacity</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string>rgba(0, 0, 0, 0.1)</string>
			<key>id</key>
			<string>before_color</string>
			<key>title</key>
			<string>Initial Color</string>
			<key>tooTip</key>
			<string>Set the color overlay of the initial content</string>
			<key>type</key>
			<string>color</string>
			<key>allowsOpacity</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string>rgba(256, 256, 256, 0.50)</string>
			<key>id</key>
			<string>after_color</string>
			<key>title</key>
			<string>Hover Color</string>
			<key>tooTip</key>
			<string>Set the color overlay of the hover content</string>
			<key>type</key>
			<string>color</string>
			<key>allowsOpacity</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string>Title</string>
			<key>id</key>
			<string>tile_title</string>
			<key>title</key>
			<string>Title</string>
			<key>toolTip</key>
			<string>Set the title of the tile</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>id</key>
			<string>title_color</string>
			<key>title</key>
			<string>Title Color</string>
			<key>toolTip</key>
			<string>Set the color of the title</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>default</key>
			<string>#000000</string>
			<key>id</key>
			<string>text_color</string>
			<key>title</key>
			<string>Text Color</string>
			<key>toolTip</key>
			<string>Set the color of the text</string>
			<key>type</key>
			<string>color</string>
		</dict>
		<dict>
			<key>default</key>
			<string>8vw</string>
			<key>id</key>
			<string>fs0b</string>
			<key>title</key>
			<string>Title Size 0</string>
			<key>toolTip</key>
			<string>Font size of the title below breakpoint 1</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>5vw</string>
			<key>id</key>
			<string>fs1b</string>
			<key>title</key>
			<string>Title Size 1</string>
			<key>toolTip</key>
			<string>Font size of the title below breakpoint 2</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>60px</string>
			<key>id</key>
			<string>fs2b</string>
			<key>title</key>
			<string>Title Size 2</string>
			<key>toolTip</key>
			<string>Font size of the title above breakpoint 2</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>4vw</string>
			<key>id</key>
			<string>fs0a</string>
			<key>title</key>
			<string>Text Size 0</string>
			<key>toolTip</key>
			<string>Font size of the text below breakpoint 1</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>2vw</string>
			<key>id</key>
			<string>fs1a</string>
			<key>title</key>
			<string>Text Size 1</string>
			<key>toolTip</key>
			<string>Font size of the text below breakpoint 2</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>16px</string>
			<key>id</key>
			<string>fs2a</string>
			<key>title</key>
			<string>Text Size 2</string>
			<key>toolTip</key>
			<string>Font size of the text above breakpoint 2</string>
			<key>type</key>
			<string>input</string>
		</dict>
		<dict>
			<key>default</key>
			<string>700</string>
			<key>id</key>
			<string>minwidth1</string>
			<key>title</key>
			<string>Breakpoint 1</string>
			<key>toolTip</key>
			<string>Set the first breakpoint width</string>
			<key>type</key>
			<string>number</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000</integer>
			<key>round</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string>1200</string>
			<key>id</key>
			<string>minwidth2</string>
			<key>title</key>
			<string>Breakpoint 2</string>
			<key>toolTip</key>
			<string>Set the second breakpoint width</string>
			<key>type</key>
			<string>number</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000</integer>
			<key>round</key>
			<true/>
		</dict>
	</array>
	<key>group</key>
	<string>Content</string>
	<key>helpURL</key>
	<string>http://til-birnstiel.de/contact</string>
	<key>icon</key>
	<string>icon</string>
	<key>infoURL</key>
	<string>https://github.com/birnstiel/grid-tile-stack</string>
	<key>subtitle</key>
	<string>A tile with hover-over-text and background image</string>
	<key>tags</key>
	<array>
		<string>Hover</string>
		<string>Grid</string>
		<string>Content</string>
		<string>Tile</string>
	</array>
	<key>templateFile</key>
	<string>template.html</string>
	<key>title</key>
	<string>Grid Tile Stack</string>
</dict>
</plist>
