#square-%id% {
  float: left;
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  /* = width for a 1:1 aspect ratio */
  margin: 5%;
  overflow: hidden;
}


#square-%id% .content {
	position: absolute;
	height: 90%;
	/* = 100% - 2*10% padding */
	width: 90%;
	/* = 100% - 2*5% padding */
	padding: 5%;
	background-color: %id=background_color%;
	text-align: center
}

#square-%id% .table {
	display: table;
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

#square-%id% .table-cell {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	height: 90%;
	width: 90%;
	margin: 0%;
	padding: 0%;
}


#square-%id% .bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: %id=img_mode%;
	/* you change this to "contain" if you don't want the images to be cropped */
	color: #fff;
}

#square-%id% .im1 {
	background-image: url('%id=background_image%');
}

#square-%id% .table:hover > .after {
	display: table-cell;
}

#square-%id% .table:hover > .before {
	display: none;
	position: absolute;
}

#square-%id% .after {
	display: none;
	color: %id=text_color%;
	text-align: justify;
	background-color: %id=after_color%;
	font-size: %id=fs0a%;
}

#square-%id% .before {
	color: %id=title_color%;
	background-color: %id=before_color%;
	position: relative;
	width : 100%;
	font-size: %id=fs0b%;
	text-align: center;
	vertical-align: middle;
	transition: opacity .2s ease-in-out .2s;
}

#square-%id% [type=radio] {
	display: none;
}

#square-%id% [type=radio]:checked ~ label {
	display: none;
}

#square-%id% [type=radio]:unchecked ~ label {
	display: table-cell;
}


@media screen and (min-width:%id=minwidth1%px) {
  #square-%id% .before {
    font-size: %id=fs1b%;
  }
  #square-%id% .after {
    font-size: %id=fs1a%;
  }
}

@media screen and (min-width:%id=minwidth2%px) {
  #square-%id% .before {
    font-size: %id=fs2b%;
  }
  #square-%id% .after {
    font-size: %id=fs2a%;
  }
}



%[if edit]%

.config {
	color: red;
}

#square-%id% {
	width : 50%;
	height: 300px;
	padding-bottom: 0px;
}

#square-%id% .after {
	display : table-cell;
	position: absolute;

}

#square-%id% .before {
	display : table-cell;
	position: absolute;
}

#square-%id% [type=radio]:checked ~ label {
	display : table-cell;
	position: absolute;
}

#square-%id% [type=radio]:unchecked ~ label {
	display : table-cell;
	position: absolute;
}

%[endif]%